 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/MacBookAir-1.png");
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 915px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 629px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3.25rem;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  margin: 40px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 40px 0 0;
  padding: 12px 31px 12px 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 629px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  width: 718px;
  height: 235px;
  margin: 87px -346px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 389px;
  height: 153px;
  margin: -64px auto 0 96px;
}

.u-section-1 .u-image-3 {
  width: 447px;
  height: 99px;
  margin: -387px -173px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 519px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 519px;
  }

  .u-section-1 .u-image-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-left: 65px;
  }

  .u-section-1 .u-image-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: -389px;
    margin-right: -223px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 574px;
  }

  .u-section-1 .u-image-1 {
    width: 658px;
    height: 215px;
    margin-top: 88px;
    margin-right: -373px;
  }

  .u-section-1 .u-image-2 {
    width: 295px;
    height: 116px;
    margin-top: -58px;
    margin-left: 14px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -339px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 385px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 556px;
  }

  .u-section-1 .u-image-1 {
    width: 789px;
    height: 258px;
    margin-right: -394px;
  }

  .u-section-1 .u-image-2 {
    width: 322px;
    height: 127px;
    margin-top: -98px;
    margin-left: 71px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -347px;
    margin-right: -163px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 453px;
  }

  .u-section-1 .u-image-1 {
    width: 524px;
    height: 171px;
    margin-top: 101px;
    margin-right: -262px;
  }

  .u-section-1 .u-image-2 {
    width: 266px;
    height: 105px;
    margin-top: -60px;
    margin-left: 18px;
  }

  .u-section-1 .u-image-3 {
    width: 410px;
    height: 91px;
    margin-top: -261px;
    margin-right: -205px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-2 .u-sheet-1 {
  min-height: 364px;
}

.u-section-2 .u-text-1 {
  font-weight: 500;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 786px;
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1320px;
  margin: 30px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 88px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-1 {
  width: 135px;
  height: 38px;
  margin: 15px auto -15px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  width: 135px;
  height: 38px;
  margin: 15px auto -15px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  width: 135px;
  height: 38px;
  margin: 15px auto -15px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  width: 135px;
  height: 38px;
  margin: 15px auto -15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 62px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 203px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 577px;
}

.u-section-3 .u-group-1 {
  width: 1272px;
  min-height: 400px;
  --radius: 48px;
  height: auto;
  margin: 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 64px 200px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  width: 573px;
  margin: 19px auto 0;
}

.u-section-3 .u-group-elements-1 {
  width: 366px;
  min-height: 46px;
  height: auto;
  margin: 46px auto 0;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  transition-duration: 0.5s;
  background-image: linear-gradient(90deg, #ff7130, #872b97);
  margin: 0 229px 0 0;
  padding: 12px 31px 12px 30px;
}

.u-section-3 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  transition-duration: 0.5s;
  margin: -46px 0 0 auto;
  padding: 12px 31px 12px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    height: auto;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-elements-1 {
    width: 220px;
    min-height: 111px;
    margin-top: 23px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 19px;
    margin-right: auto;
  }
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-2,
.u-section-3 .u-btn-2:before,
.u-section-3 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-image-1 {
  height: 427px;
  width: 1831px;
  margin: -90px auto 0 -245px;
}

.u-section-4 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: -275px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 4px auto 0;
}

.u-section-4 .u-list-1 {
  width: 1254px;
  margin: 60px auto;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 28px);
  grid-template-columns: repeat(3, calc(33.3333% - 28px));
  min-height: 239px;
  grid-gap: 42px;
}

.u-section-4 .u-list-item-1 {
  --radius: 14px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-list-item-2 {
  --radius: 14px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-list-item-3 {
  --radius: 14px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 219px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: 50px;
  }

  .u-section-4 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 28px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 28px));
    min-height: 175px;
  }

  .u-section-4 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 168px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 21px);
    grid-template-columns: repeat(2, calc(50% - 21px));
    min-height: 458px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 199px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 126px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 79px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 337px;
}

.u-section-5 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 49px auto 0;
}

.u-section-5 .u-line-1 {
  width: 1252px;
  transform-origin: left center;
  margin: 30px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 30px 106px 49px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-5 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: 55px;
  }

  .u-section-5 .u-line-1 {
    width: 940px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 55px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-line-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-6 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-6 .u-list-1 {
  width: 1320px;
  margin: 60px auto;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(50% - 16px);
  grid-template-columns: repeat(2, calc(50% - 16px));
  min-height: 555px;
  grid-gap: 32px;
}

.u-section-6 .u-list-item-1 {
  --radius: 20px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 10px 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 162px;
  width: 98px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("np://user.desktop.nicepage.com/Site_302916359/images/thumbnails/Frame775.png");
  background-size: cover;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-6 .u-text-2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 auto 0 32px;
}

.u-section-6 .u-icon-1 {
  width: 46px;
  height: 39px;
  margin: -154px auto 0 148px;
  padding: 0;
}

.u-section-6 .u-text-3 {
  margin: 29px 49px 0 148px;
}

.u-section-6 .u-list-item-2 {
  --radius: 20px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 10px 0 0;
}

.u-section-6 .u-image-2 {
  min-height: 162px;
  width: 98px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("np://user.desktop.nicepage.com/Site_302916359/images/thumbnails/Frame775.png");
  background-size: cover;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-6 .u-text-4 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 auto 0 32px;
}

.u-section-6 .u-icon-2 {
  width: 46px;
  height: 46px;
  margin: -154px auto 0 148px;
  padding: 0;
}

.u-section-6 .u-text-5 {
  margin: 29px 49px 0 148px;
}

.u-section-6 .u-list-item-3 {
  --radius: 20px;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 10px 0 0;
}

.u-section-6 .u-image-3 {
  min-height: 162px;
  width: 98px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("np://user.desktop.nicepage.com/Site_302916359/images/thumbnails/Frame775.png");
  background-size: cover;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-6 .u-text-6 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 auto 0 32px;
}

.u-section-6 .u-icon-3 {
  width: 46px;
  height: 46px;
  margin: -154px auto 0 148px;
  padding: 0;
}

.u-section-6 .u-text-7 {
  margin: 29px 49px 0 148px;
}

.u-section-6 .u-list-item-4 {
  --radius: 20px;
}

.u-section-6 .u-container-layout-7 {
  padding: 0 10px 0 0;
}

.u-section-6 .u-image-4 {
  min-height: 162px;
  width: 98px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("np://user.desktop.nicepage.com/Site_302916359/images/thumbnails/Frame775.png");
  background-size: cover;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-8 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-6 .u-text-8 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 auto 0 32px;
}

.u-section-6 .u-icon-4 {
  width: 46px;
  height: 46px;
  margin: -154px auto 0 148px;
  padding: 0;
}

.u-section-6 .u-text-9 {
  margin: 29px 49px 0 148px;
}

.u-section-6 .u-list-item-5 {
  --radius: 20px;
}

.u-section-6 .u-container-layout-9 {
  padding: 0 10px 0 0;
}

.u-section-6 .u-image-5 {
  min-height: 162px;
  width: 98px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("np://user.desktop.nicepage.com/Site_302916359/images/thumbnails/Frame775.png");
  background-size: cover;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-10 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-6 .u-text-10 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 auto 0 32px;
}

.u-section-6 .u-icon-5 {
  width: 46px;
  height: 46px;
  margin: -154px auto 0 148px;
  padding: 0;
}

.u-section-6 .u-text-11 {
  margin: 29px 49px 0 148px;
}

.u-section-6 .u-list-item-6 {
  --radius: 20px;
}

.u-section-6 .u-container-layout-11 {
  padding: 0 10px 0 0;
}

.u-section-6 .u-image-6 {
  min-height: 162px;
  width: 98px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("np://user.desktop.nicepage.com/Site_302916359/images/thumbnails/Frame775.png");
  background-size: cover;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-12 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-6 .u-text-12 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 auto 0 32px;
}

.u-section-6 .u-icon-6 {
  width: 46px;
  height: 46px;
  margin: -154px auto 0 148px;
  padding: 0;
}

.u-section-6 .u-text-13 {
  margin: 29px 49px 0 148px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 563px;
  }

  .u-section-6 .u-image-1 {
    height: auto;
  }

  .u-section-6 .u-icon-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-text-3 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    height: auto;
  }

  .u-section-6 .u-icon-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-text-5 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    height: auto;
  }

  .u-section-6 .u-icon-3 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-text-7 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-6 .u-image-4 {
    height: auto;
  }

  .u-section-6 .u-icon-4 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-text-9 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-6 .u-image-5 {
    height: auto;
  }

  .u-section-6 .u-icon-5 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-text-11 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-6 .u-image-6 {
    height: auto;
  }

  .u-section-6 .u-icon-6 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-text-13 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 26px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1354px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 59px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 1137px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 18px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 98px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 18px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 98px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 18px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 98px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-bottom: 18px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 98px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-bottom: 18px;
  }

  .u-section-6 .u-text-11 {
    margin-right: 98px;
  }

  .u-section-6 .u-container-layout-11 {
    padding-bottom: 18px;
  }

  .u-section-6 .u-text-13 {
    margin-right: 98px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1394px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 1189px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 9px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 9px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-7 {
    padding-bottom: 9px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-9 {
    padding-bottom: 9px;
  }

  .u-section-6 .u-text-10 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-11 {
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-11 {
    padding-bottom: 9px;
  }

  .u-section-6 .u-text-12 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-13 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -155px;
    margin-left: 98px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 7px;
    margin-left: 98px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-icon-2 {
    margin-top: -155px;
    margin-left: 98px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 7px;
    margin-left: 98px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-icon-3 {
    margin-top: -155px;
    margin-left: 98px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 7px;
    margin-left: 98px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-icon-4 {
    margin-top: -155px;
    margin-left: 98px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 7px;
    margin-left: 98px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-icon-5 {
    margin-top: -155px;
    margin-left: 98px;
  }

  .u-section-6 .u-text-11 {
    margin-top: 7px;
    margin-left: 98px;
  }

  .u-section-6 .u-container-layout-11 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-icon-6 {
    margin-top: -155px;
    margin-left: 98px;
  }

  .u-section-6 .u-text-13 {
    margin-top: 7px;
    margin-left: 98px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 515px;
}

.u-section-7 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-7 .u-list-1 {
  width: 1174px;
  margin: 52px auto 60px;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: calc(50% - 50px);
  grid-template-columns: repeat(2, calc(50% - 50px));
  min-height: 255px;
  grid-gap: 100px;
}

.u-section-7 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 42px auto 0;
}

.u-section-7 .u-line-1 {
  width: 516px;
  transform-origin: left center;
  margin: 30px auto 0;
}

.u-section-7 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-7 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 42px auto 0;
}

.u-section-7 .u-line-2 {
  width: 516px;
  transform-origin: left center;
  margin: 30px auto 0;
}

.u-section-7 .u-text-5 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-7 .u-list-1 {
    width: 940px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 199px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 0;
  }

  .u-section-7 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 0;
  }

  .u-section-7 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-list-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 622px;
}

.u-section-8 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1314px;
  margin: 80px auto 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 423px;
  --radius: 20px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 10px auto 0 0;
}

.u-section-8 .u-text-3 {
  font-style: italic;
  margin: 0 auto 0 0;
}

.u-section-8 .u-image-2 {
  width: 37px;
  height: 18px;
  margin: -30px 54px 0 auto;
}

.u-section-8 .u-text-4 {
  margin: 40px auto 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 423px;
  --radius: 20px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  width: 70px;
  height: 67px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  margin: 10px auto 0 0;
}

.u-section-8 .u-text-6 {
  font-style: italic;
  margin: 0 auto 0 0;
}

.u-section-8 .u-image-4 {
  width: 37px;
  height: 18px;
  margin: -30px 54px 0 auto;
}

.u-section-8 .u-text-7 {
  margin: 40px auto 0 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 423px;
  --radius: 20px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-5 {
  width: 77px;
  height: 67px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-8 {
  font-weight: 700;
  margin: 10px auto 0 0;
}

.u-section-8 .u-text-9 {
  font-style: italic;
  margin: 0 auto 0 0;
}

.u-section-8 .u-image-6 {
  width: 37px;
  height: 18px;
  margin: -30px 54px 0 auto;
}

.u-section-8 .u-text-10 {
  margin: 40px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-8 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-image-2 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-image-4 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-image-6 {
    margin-top: 20px;
    margin-bottom: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    margin-bottom: 0;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-4 {
    margin-bottom: 0;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-6 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-9 {
  background-repeat: no-repeat;
  background-image: url("images/Group1.png");
  background-size: 126%;
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 982px;
}

.u-section-9 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-9 .u-text-2 {
  width: 866px;
  margin: 6px auto 0;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1277px;
  margin: 20px auto 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 730px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-image-1 {
  min-height: 630px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/Frame24.png");
  background-size: cover;
  --radius: 25px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 30px 22px;
}

.u-section-9 .u-group-elements-1 {
  width: 270px;
  min-height: 65px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-icon-1 {
  width: 64px;
  height: 65px;
  margin: 0 206px 0 0;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  margin: -59px auto 0 84px;
}

.u-section-9 .u-text-4 {
  font-size: 0.875rem;
  margin: 0 0 0 auto;
}

.u-section-9 .u-line-1 {
  width: 262px;
  transform-origin: right center;
  margin: 20px auto 0;
}

.u-section-9 .u-text-5 {
  font-size: 2rem;
  font-weight: 700;
  margin: 29px auto 0 2px;
}

.u-section-9 .u-text-6 {
  font-size: 1rem;
  margin: 0 auto 0 2px;
}

.u-section-9 .u-text-7 {
  font-size: 1rem;
  font-weight: 700;
  margin: 120px auto 0 2px;
}

.u-section-9 .u-text-8 {
  font-size: 1rem;
  margin: 6px auto 0 2px;
}

.u-section-9 .u-icon-2 {
  font-size: 1.5em;
  vertical-align: -2px;
}

.u-section-9 .u-text-9 {
  font-size: 1rem;
  margin: 1px auto 0 2px;
}

.u-section-9 .u-icon-3 {
  font-size: 1.5em;
  vertical-align: -2px;
}

.u-section-9 .u-text-10 {
  font-size: 1rem;
  margin: 1px auto 0 2px;
}

.u-section-9 .u-icon-4 {
  font-size: 1.5em;
  vertical-align: -2px;
}

.u-section-9 .u-text-11 {
  font-size: 1rem;
  margin: 1px auto 0 2px;
}

.u-section-9 .u-icon-5 {
  font-size: 1.5em;
  vertical-align: -2px;
}

.u-section-9 .u-btn-1 {
  --radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 42px auto 0 0;
  padding: 9px 41px 10px 40px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 730px;
}

.u-section-9 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-9 .u-image-2 {
  min-height: 690px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/Frame27.png");
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 0;
  --radius: 25px;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px 30px 22px;
}

.u-section-9 .u-group-elements-2 {
  width: 270px;
  min-height: 65px;
  margin: 28px auto 0 0;
}

.u-section-9 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 0 206px 0 0;
}

.u-section-9 .u-text-12 {
  font-weight: 700;
  margin: -59px auto 0 84px;
}

.u-section-9 .u-text-13 {
  font-size: 0.875rem;
  margin: 0 0 0 auto;
}

.u-section-9 .u-line-2 {
  transform-origin: left center;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-9 .u-text-14 {
  font-size: 2rem;
  font-weight: 700;
  margin: 29px auto 0 2px;
}

.u-section-9 .u-text-15 {
  font-size: 1rem;
  margin: 0 auto 0 2px;
}

.u-section-9 .u-text-16 {
  font-size: 1rem;
  font-weight: 700;
  margin: 120px auto 0 2px;
}

.u-section-9 .u-text-17 {
  font-size: 1rem;
  margin: 6px auto 0 2px;
}

.u-section-9 .u-icon-7 {
  font-size: 1.5em;
  vertical-align: -2px;
}

.u-section-9 .u-text-18 {
  font-size: 1rem;
  margin: 1px auto 0 2px;
}

.u-section-9 .u-icon-8 {
  font-size: 1.5em;
  vertical-align: -2px;
}

.u-section-9 .u-text-19 {
  font-size: 1rem;
  margin: 1px auto 0 2px;
}

.u-section-9 .u-icon-9 {
  font-size: 1.5em;
  vertical-align: -2px;
}

.u-section-9 .u-text-20 {
  font-size: 1rem;
  margin: 1px auto 0 2px;
}

.u-section-9 .u-icon-10 {
  font-size: 1.5em;
  vertical-align: -2px;
}

.u-section-9 .u-btn-2 {
  --radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  border-style: solid;
  transition-duration: 0.5s;
  background-image: none;
  margin: 42px auto 0 0;
  padding: 9px 41px 10px 40px;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 730px;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px;
}

.u-section-9 .u-image-3 {
  min-height: 630px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/Frame28.png");
  background-size: cover;
  --radius: 25px;
  margin: 0 auto 0 20px;
}

.u-section-9 .u-container-layout-6 {
  padding: 30px 30px 22px;
}

.u-section-9 .u-group-elements-3 {
  width: 270px;
  min-height: 65px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-icon-11 {
  width: 48px;
  height: 56px;
  margin: 0 206px 0 0;
  padding: 0;
}

.u-section-9 .u-text-21 {
  font-weight: 700;
  margin: -59px auto 0 84px;
}

.u-section-9 .u-text-22 {
  font-size: 0.875rem;
  margin: 0 0 0 auto;
}

.u-section-9 .u-line-3 {
  width: 262px;
  transform-origin: right center;
  margin: 20px auto 0;
}

.u-section-9 .u-text-23 {
  font-size: 2rem;
  font-weight: 700;
  margin: 29px auto 0 2px;
}

.u-section-9 .u-text-24 {
  font-size: 1rem;
  margin: 0 auto 0 2px;
}

.u-section-9 .u-text-25 {
  font-size: 1rem;
  font-weight: 700;
  margin: 120px auto 0 2px;
}

.u-section-9 .u-text-26 {
  font-size: 1rem;
  margin: 6px auto 0 2px;
}

.u-section-9 .u-icon-12 {
  font-size: 1.5em;
  vertical-align: -2px;
}

.u-section-9 .u-text-27 {
  font-size: 1rem;
  margin: 1px auto 0 2px;
}

.u-section-9 .u-icon-13 {
  font-size: 1.5em;
  vertical-align: -2px;
}

.u-section-9 .u-text-28 {
  font-size: 1rem;
  margin: 1px auto 0 2px;
}

.u-section-9 .u-icon-14 {
  font-size: 1.5em;
  vertical-align: -2px;
}

.u-section-9 .u-text-29 {
  font-size: 1rem;
  margin: 1px auto 0 2px;
}

.u-section-9 .u-icon-15 {
  font-size: 1.5em;
  vertical-align: -2px;
}

.u-section-9 .u-btn-3 {
  --radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 42px auto 0 0;
  padding: 9px 41px 10px 40px;
}

@media (max-width: 1199px) {
   .u-section-9 {
    background-size: cover;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-9 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-9 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 745px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-9 .u-image-1 {
    height: auto;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-9 .u-group-elements-1 {
    width: 193px;
    min-height: 79px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-left: 87px;
  }

  .u-section-9 .u-line-1 {
    width: 193px;
    margin-left: 0;
  }

  .u-section-9 .u-text-5 {
    margin-left: 0;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
  }

  .u-section-9 .u-text-7 {
    margin-left: 0;
  }

  .u-section-9 .u-text-8 {
    margin-left: 0;
  }

  .u-section-9 .u-text-9 {
    margin-left: 0;
  }

  .u-section-9 .u-text-10 {
    margin-left: 0;
  }

  .u-section-9 .u-text-11 {
    margin-left: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 537px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-9 .u-image-2 {
    height: auto;
  }

  .u-section-9 .u-group-elements-2 {
    width: 221px;
    min-height: 79px;
  }

  .u-section-9 .u-icon-6 {
    width: 53px;
    height: 53px;
    margin-right: auto;
    padding: 0;
  }

  .u-section-9 .u-text-12 {
    margin-top: -48px;
  }

  .u-section-9 .u-text-13 {
    width: auto;
    margin-top: 1px;
    margin-left: 85px;
  }

  .u-section-9 .u-line-2 {
    margin-top: 29px;
  }

  .u-section-9 .u-text-14 {
    margin-left: 0;
  }

  .u-section-9 .u-text-15 {
    margin-left: 0;
  }

  .u-section-9 .u-text-16 {
    margin-left: 0;
  }

  .u-section-9 .u-text-17 {
    margin-left: 0;
  }

  .u-section-9 .u-text-18 {
    margin-left: 0;
  }

  .u-section-9 .u-text-19 {
    margin-left: 0;
  }

  .u-section-9 .u-text-20 {
    margin-left: 0;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 745px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-9 .u-image-3 {
    margin-left: 0;
    height: auto;
    margin-right: auto;
  }

  .u-section-9 .u-container-layout-6 {
    padding-right: 0;
  }

  .u-section-9 .u-group-elements-3 {
    width: 193px;
    min-height: 73px;
    margin-top: -3px;
  }

  .u-section-9 .u-icon-11 {
    margin-top: 2px;
  }

  .u-section-9 .u-text-21 {
    width: auto;
    margin-top: -58px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-9 .u-text-22 {
    width: auto;
    margin-top: -1px;
    margin-left: 73px;
  }

  .u-section-9 .u-line-3 {
    width: 193px;
    margin-left: 0;
  }

  .u-section-9 .u-text-23 {
    margin-left: 0;
  }

  .u-section-9 .u-text-24 {
    margin-left: 0;
  }

  .u-section-9 .u-text-25 {
    margin-left: 0;
  }

  .u-section-9 .u-text-26 {
    margin-left: 0;
  }

  .u-section-9 .u-text-27 {
    margin-left: 0;
  }

  .u-section-9 .u-text-28 {
    margin-left: 0;
  }

  .u-section-9 .u-text-29 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-9 .u-text-2 {
    width: 720px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 708px;
  }

  .u-section-9 .u-image-1 {
    min-height: 648px;
    width: 334px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-group-elements-1 {
    width: 303px;
    min-height: 65px;
  }

  .u-section-9 .u-icon-1 {
    margin-right: 389px;
  }

  .u-section-9 .u-line-1 {
    width: 287px;
    transform-origin: left center;
    margin-top: 34px;
    margin-right: 13px;
    margin-left: auto;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 710px;
  }

  .u-section-9 .u-image-2 {
    width: 416px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-group-elements-2 {
    width: 343px;
    min-height: 56px;
    margin-top: 17px;
  }

  .u-section-9 .u-line-2 {
    margin-top: 51px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 699px;
  }

  .u-section-9 .u-image-3 {
    min-height: 639px;
    width: 330px;
    margin-left: auto;
  }

  .u-section-9 .u-container-layout-6 {
    padding-top: 22px;
  }

  .u-section-9 .u-group-elements-3 {
    width: 317px;
    min-height: 58px;
    margin-top: 5px;
  }

  .u-section-9 .u-icon-11 {
    margin-right: 403px;
  }

  .u-section-9 .u-text-21 {
    margin-right: auto;
    margin-left: 70px;
  }

  .u-section-9 .u-line-3 {
    width: 266px;
    transform-origin: left center;
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1910px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-line-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 725px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-9 .u-text-14 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-23 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1224px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    width: 320px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-9 .u-text-5 {
    font-size: 1.5rem;
    margin-left: 19px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 19px;
  }

  .u-section-9 .u-text-7 {
    margin-left: 19px;
  }

  .u-section-9 .u-text-8 {
    margin-left: 19px;
  }

  .u-section-9 .u-text-9 {
    margin-left: 19px;
  }

  .u-section-9 .u-text-10 {
    margin-left: 19px;
  }

  .u-section-9 .u-text-11 {
    margin-left: 19px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 632px;
  }

  .u-section-9 .u-image-2 {
    width: 320px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-9 .u-group-elements-2 {
    width: 300px;
  }

  .u-section-9 .u-text-14 {
    font-size: 1.5rem;
    margin-left: 19px;
  }

  .u-section-9 .u-text-15 {
    margin-left: 19px;
  }

  .u-section-9 .u-text-16 {
    margin-left: 19px;
  }

  .u-section-9 .u-text-17 {
    margin-left: 19px;
  }

  .u-section-9 .u-text-18 {
    margin-left: 19px;
  }

  .u-section-9 .u-text-19 {
    margin-left: 19px;
  }

  .u-section-9 .u-text-20 {
    margin-left: 19px;
  }

  .u-section-9 .u-image-3 {
    width: 320px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-9 .u-group-elements-3 {
    width: 310px;
  }

  .u-section-9 .u-text-23 {
    font-size: 1.5rem;
    margin-left: 19px;
  }

  .u-section-9 .u-text-24 {
    margin-left: 19px;
  }

  .u-section-9 .u-text-25 {
    margin-left: 19px;
  }

  .u-section-9 .u-text-26 {
    margin-left: 19px;
  }

  .u-section-9 .u-text-27 {
    margin-left: 19px;
  }

  .u-section-9 .u-text-28 {
    margin-left: 19px;
  }

  .u-section-9 .u-text-29 {
    margin-left: 19px;
  }
}

.u-section-9 .u-btn-1,
.u-section-9 .u-btn-1:before,
.u-section-9 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-btn-2,
.u-section-9 .u-btn-2:before,
.u-section-9 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-btn-3,
.u-section-9 .u-btn-3:before,
.u-section-9 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-10 .u-sheet-1 {
  min-height: 860px;
}

.u-section-10 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 61px auto 0;
}

.u-section-10 .u-accordion-1 {
  width: 1314px;
  margin: 30px auto 0;
}

.u-section-10 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  --radius: 10px;
  border-style: solid;
  padding: 20px;
}

.u-section-10 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-10 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 20px;
}

.u-section-10 .u-accordion-link-2 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  --radius: 10px;
  border-style: solid;
  padding: 20px;
}

.u-section-10 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-10 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-10 .u-container-layout-2 {
  padding: 20px;
}

.u-section-10 .u-accordion-link-3 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  --radius: 10px;
  border-style: solid;
  padding: 20px;
}

.u-section-10 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-10 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-10 .u-container-layout-3 {
  padding: 20px;
}

.u-section-10 .u-group-1 {
  width: 1043px;
  min-height: 237px;
  height: auto;
  --radius: 32px;
  margin: 100px auto 60px;
}

.u-section-10 .u-container-layout-4 {
  padding: 60px 60px 30px;
}

.u-section-10 .u-text-5 {
  margin: 0;
}

.u-section-10 .u-form-1 {
  height: 89px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-10 .u-form-group-1 {
  margin-left: 0;
}

.u-section-10 .u-input-1 {
  height: 59px;
  --radius: 50px;
  background-image: none;
  letter-spacing: 0px;
}

.u-section-10 .u-input-2 {
  height: 59px;
  --radius: 50px;
  background-image: none;
  letter-spacing: 0px;
}

.u-section-10 .u-btn-1 {
  --radius: 50px;
  font-size: 1.125rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #ff7130, #872b97);
  padding: 17px 38px 17px 36px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-10 .u-accordion-1 {
    width: 940px;
  }

  .u-section-10 .u-group-1 {
    width: 940px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-10 .u-accordion-1 {
    width: 720px;
  }

  .u-section-10 .u-group-1 {
    min-height: 222px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-container-layout-4 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-10 .u-accordion-1 {
    width: 540px;
  }

  .u-section-10 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-10 .u-accordion-1 {
    width: 340px;
  }
}